.cards__div{
  margin: 0 auto;
}

.cards__h1{
  font-size: 50px;
  text-align: center;
}

.cards__ul{
  display: flex;
  list-style: none;
  overflow-y: auto;
}


.cards__li:hover{
  background-color: #ffe24d;
  span{
    visibility: visible;
  }
}

.cards__a--container{
  max-width: 300px;
  height: 460px;
}

.cards__a--div{
  padding: 15px;
}

.cards__a--img{
  width: 100%;
  max-height: 225px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cards__a--h2{
  color: #171717;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 550;
  opacity: 0.5;
}

.cards__a--p {
  font-size: 25px;
  font-weight: bolder;
}

.cards__a--span_text{
  font-size: 10px;
}

.cards__a--span_button{
  display: block;
  margin-top: 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.53 6.53a.75.75 0 0 0 0-1.06L7.757.697a.75.75 0 1 0-1.06 1.06L10.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L12.53 6.53ZM0 6.75h12v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position:center ;
  width: 200px;
  visibility: hidden;
}

.cards__a--span_button:hover{
  background: linear-gradient(90deg,#ffe24d 11.03%,#99cc7e 53.39%,#93e0f1 103.45%);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.53 6.53a.75.75 0 0 0 0-1.06L17.757.697a.75.75 0 0 0-1.06 1.06L20.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L22.53 6.53ZM0 6.75h22v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.cards__button{
  display: flex;
  justify-content: center;
}

.cards__button--btn{
  width: 250px;
  height: 50px;
  border: none;
  text-align: center;
  background-color: #ffe24d;
  font-size: 15px;
  font-weight: 550;
  margin: 0 auto;
}

.cards__button--btn:hover{
  background: linear-gradient(90deg,#ffe24d 11.03%,#99cc7e 53.39%,#93e0f1 103.45%);
}

a:link{
  text-decoration: none;
}